<!DOCTYPE html>
<html lang="de">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/addreport.css' %}">
  <script>
    const staticMenuIcon = "{% static 'imgs/menu_icon.png' %}";
    const staticCloseIcon = "{% static 'imgs/close_icon.png' %}";
  </script>
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Arbeitsbericht hinzufügen - DVM Planner</title>
</head>
<body>
  <!-- FLOATING WINDOW -->
  <div class="floating_container"></div>
  <!-- NAVBAR -->
  <div class="navbar_hide_button" onclick="toggleNavbar()">
    <img id="navbar_hide_button_img" src="{% static 'imgs/menu_icon.png' %}" alt="Open menu" draggable="false">
  </div>
  <div class="navbar" id="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a class="navbar_item" href="/dashboard/"><div>Dashboard</div></a></li>
      <li><a class="navbar_item" href="/reports/"><div>Arbeitsberichte</div></a></li>
      <li><a class="navbar_item" href="/review/"><div>Ergebnisse</div></a></li>
      {% if role == 'admin' %}
        <li><a class="navbar_item" href="/admin/"><div>Admin Dashboard</div></a></li>
      {% endif %}
      <li><a class="navbar_item" href="/profile/"><div>Profil</div></a></li>
    </ul>
    <a class="button navbar_add_button small_text" href="/addreport/">
      <img src="{% static 'imgs/add_icon_round_red.png' %}" alt="Add Report" draggable="false">
      <div><p>Bericht hinzufügen</p></div>
    </a>
  </div>  
  <!-- CONTENT -->
  <div class="content" id="content">
    <div class="topbar">
      <div class="topbar_text">Arbeitsbericht hinzufügen</div>
      <div class="button profile_button" id="profile_button">
        {% if img == True %}
          <img src="{% static 'profiles/' %}{{uid}}.png" alt="Profile Picture of {{uid}}" draggable="false">
        {% else %}
          <img src="{% static 'profiles/' %}_default.png" alt="Default Profile Picture" draggable="false">
        {% endif %}
        <div><p>{{ username }}</p></div>
      </div>
    </div>
    <div class="usermenu hidden_usermenu" id="usermenu">
      <a class="button usermenu_button" href="/login/">
        <img src="{% static 'imgs/change_user_icon_round.png' %}" alt="Change User" draggable="false">
        <div><p>Profil wechseln</p></div>
      </a>
      <a class="button usermenu_button" href="/signup/">
        <img src="{% static 'imgs/logout_icon_round.png' %}" alt="Logout" draggable="false">
        <div><p>Ausloggen</p></div>
      </a>
    </div>
    <!-- ADD REPORT -->
    <div class="card">
      <h1>Manueller Eintrag</h1>
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="add_report">
        <div class="report_data">
          <div class="report_content_split">
            <div class="form_item">
              <div class="form_name">Beginn</div>
              <input type="datetime-local" name="time_beginn" required>
            </div>
            <div class="form_item">
              <div class="form_name">Ende</div>
              <input type="datetime-local" name="time_end" required>
            </div>
          </div>
          <div class="form_item">
            <div class="form_name">Modul</div>
            <div class="dropdown form_dropdown addreport_dropdown">
              <div class="dropdown_button">
                <div>{{ placeholder_module.index }} {{ placeholder_module.name }}</div>
                <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
              </div>
              <input class="dropdown_input" type="hidden" name="module" value="{{ placeholder_module.index }}">
              <div class="dropdown_content">
                {% for modulegroup in modules %}
                  <div class="dropdown_item not_selectable">{{ modulegroup.index }} {{ modulegroup.name }}</div>
                  {% for module in modulegroup.modules %}
                    <div class="dropdown_item indent_1  not_selectable">{{ module.index }} {{ module.name }}</div>
                    {% for submodule in module.submodules %}
                      <div class="dropdown_item indent_2" onclick="formDropdownSelect(this, '{{ submodule.index }}')">{{ submodule.index }} {{ submodule.name }}</div>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form_item">
            <div class="form_name">Notizen</div>
            <textarea name="notes" rows="4" cols="50"></textarea>
          </div>
        </div>
        <div class="wrapped_content space_top_1">
          <button class="button card_button" type="submit">
            <img src="{% static 'imgs/add_icon_round.png' %}" alt="Save report" draggable="false">
            <div><p>Speichern</p></div>
          </button>
          <button class="button card_button" type="reset">
            <img src="{% static 'imgs/delete_icon_round.png' %}" alt="Delete entries" draggable="false">
            <div><p>Daten löschen</p></div>
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>