{% extends "dvmplanner/base.html" %}
{% load static %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{% static 'styles/addreport.css' %}">
{% endblock %}

{% block extra_scripts %}
  <!-- SCRIPT -->
{% endblock %}

{% block page_title %}Arbeitsbericht hinzufügen{% endblock %}

{% block floating_windows %}
  <!-- FLOATING WINDOWS -->
{% endblock %}

{% block header_title %}Arbeitsbericht hinzufügen{% endblock %}

{% block content %}
  <!-- ADD REPORT -->
  <div class="card">
    <h1>Manueller Eintrag</h1>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="context" value="add_report">
      <div class="report_data">
        <div class="report_content_split">
          <div class="form_item">
            <div class="form_name">Beginn</div>
            <input type="datetime-local" name="time_beginn" required>
          </div>
          <div class="form_item">
            <div class="form_name">Ende</div>
            <input type="datetime-local" name="time_end" required>
          </div>
        </div>
        <div class="form_item">
          <div class="form_name">Modul</div>
          <div class="dropdown form_dropdown addreport_dropdown">
            <div class="dropdown_button">
              <div>{{ placeholder_module.index }} {{ placeholder_module.name }}</div>
              <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
            </div>
            <input class="dropdown_input" type="hidden" name="module" value="{{ placeholder_module.index }}">
            <div class="dropdown_content">
              {% for modulegroup in modules %}
                <div class="dropdown_item not_selectable">{{ modulegroup.index }} {{ modulegroup.name }}</div>
                {% for module in modulegroup.modules %}
                  <div class="dropdown_item indent_1  not_selectable">{{ module.index }} {{ module.name }}</div>
                  {% for submodule in module.submodules %}
                    <div class="dropdown_item indent_2" onclick="formDropdownSelect(this, '{{ submodule.index }}')">{{ submodule.index }} {{ submodule.name }}</div>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="form_item">
          <div class="form_name">Notizen</div>
          <textarea name="notes" rows="4" cols="50" placeholder="Eine kleine Beschreibung der Tätigkeit..." required></textarea>
        </div>
      </div>
      <div class="wrapped_content space_top_1">
        <button class="button card_button" type="submit">
          <img src="{% static 'imgs/save_icon_round.png' %}" alt="Save report" draggable="false">
          <div><p>Speichern</p></div>
        </button>
        <button class="button card_button" type="reset">
          <img src="{% static 'imgs/delete_icon_round.png' %}" alt="Delete entries" draggable="false">
          <div><p>Daten löschen</p></div>
        </button>
      </div>
    </form>
  </div>
{% endblock %}