<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
  <script>
    const staticMenuIcon = "{% static 'imgs/menu_icon.png' %}";
    const staticCloseIcon = "{% static 'imgs/close_icon.png' %}";
  </script>
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Admin Dashboard - DVM Planner</title>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar_hide_button" onclick="toggleNavbar()"><img id="navbar_hide_button_img" src="{% static 'imgs/menu_icon.png' %}" alt="Open Menu" draggable="false"></div>
  <div class="navbar" id="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a class="navbar_item" href="/dashboard/"><div>Dashboard</div></a></li>
      <li><a class="navbar_item" href="/reports/"><div>Arbeitsberichte</div></a></li>
      <li><a class="navbar_item" href="/review/"><div>Ergebnisse</div></a></li>
      <li><a class="navbar_item highlighted"><div>Admin Dashboard</div></a></li>
      <li><a class="navbar_item" href="/profile/"><div>Profil</div></a></li>
    </ul>
    <a class="button navbar_add_button" href="/addreport/">
      <img src="{% static 'imgs/add_icon_red.png' %}" alt="Add Report" draggable="false">
      <div><p>Hinzufügen</p></div>
    </a>
  </div>    
  <!-- CONTENT -->
  <div class="content" id="content">
    <div class="topbar">
      <div class="topbar_text">Admin Dashboard</div>
      <div class="button profile_button" onclick="toggleUserMenu()">
        <img src="{% static 'profiles/' %}{{uid}}.png" alt="Profile Picture of {{uid}}" draggable="false">
        <div><p>{{ username }}</p></div>
      </div>
    </div>
    <div class="usermenu hidden_usermenu" id="usermenu">
      <a class="button usermenu_button" href="">
        <img src="{% static 'imgs/change_user_icon.png' %}" alt="Change User" draggable="false">
        <div><p>Profil wechseln</p></div>
      </a>
      <a class="button usermenu_button" href="">
        <img src="{% static 'imgs/logout_icon.png' %}" alt="Logout" draggable="false">
        <div><p>Ausloggen</p></div>
      </a>
    </div>
    <!-- ADMIN -->
    <!-- REQUESTS -->
    <div class="card">
      <h1>Anfragen</h1>
      <div class="table_filter">
        <div class="table_filter_text">Angefragte Rolle:</div>
        <div class="dropdown table_filter_dropdown requests_table">
          <button class="dropdown_button">
            <div>{{ current_filter_role }}</div>
            <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
          </button>
          <div class="dropdown_content">
            <a class="dropdown_item" href="">[Alle]</a>
            {% for filter_role in filter_roles %}
              <a class="dropdown_item">{{ filter_role }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="border_item">
        <table>
          <tr>
            <th>Datum</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Nutzername</th>
            <th>Aktuelle Rolle</th>
            <th>Anfrage auf</th>
            <th>Aktionen</th>
          </tr>
          {% for request in requests %}
            <tr>
              <td class="nowrap">{{ request.day }}<br>{{ request.time }}</td>
              <td class="nowrap">{{ request.first_name }}</td>
              <td class="nowrap">{{ request.last_name }}</td>
              <td>{{ request.username }}</td>
              {% if request.role == 'normal' %}
                <td class="role_normal">Normal</td>
              {% elif request.role == 'vip' %}
                <td class="role_vip">VIP</td>
              {% elif request.role == 'admin' %}
                <td class="role_admin">Admin</td>
              {% endif %}
              {% if request.requested_role == 'normal' %}
                <td class="role_normal">Normal</td>
              {% elif request.requested_role == 'vip' %}
                <td class="role_vip">VIP</td>
              {% elif request.requested_role == 'admin' %}
                <td class="role_admin">Admin</td>
              {% endif %}
              <td class="no_select">
                <button class="table_button green tooltip_elem"><img src="{% static 'imgs/accept_icon.png' %}" alt="Accept" draggable="false"><div class="tooltip_text" >Akzeptieren</div></button>
                <button class="table_button red tooltip_elem"><img src="{% static 'imgs/decline_icon.png' %}" alt="Decline" draggable="false"><div class="tooltip_text" >Ablehnen</div></button>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- USERS -->
    <div class="card">
      <h1>Nutzerübersicht</h1>
    </div>
    <!-- MODULES -->
    <div class="card">
      <h1>Modulübersicht</h1>
    </div>
  </div>
</body>
</html>