{% extends "dvmplanner/base.html" %}
{% load static %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'styles/review.css' %}">
{% endblock %}

{% block extra_scripts %}
  <script>
    const staticArrowRightIcon = "{% static 'imgs/arrow_right_icon.png' %}";
    const staticArrowLeftIcon = "{% static 'imgs/arrow_left_icon.png' %}";
  </script>
  <script src="{% static 'scripts/dashboard.js' %}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script>
    const reviewData = JSON.parse('{{ review_data|safe }}');
  </script>
  <script src="{% static 'scripts/review.js' %}" defer></script>
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block floating_windows %}
  <!-- DELETE REPORT -->
  <div class="floating_container" id="floating_window_delete_entry">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Zeiteintrag löschen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="delete_entry">
        <input type="hidden" id="floating_window_delete_entry_index" name="index" value="Placeholder">
        <div class="floating_content">
          <div class="floating_text">Willst du den Zeiteintrag wirklich löschen?</div>
        </div>
        <button class="button card_button red" type="submit">
          <img src="{% static 'imgs/delete_icon_round_red.png' %}" alt="Delete" draggable="false">
          <div><p>Löschen</p></div>
        </button>
      </form>
    </div>
  </div>
  <!-- DELETE ENTRIES -->
  <div class="floating_container" id="floating_window_delete_entries">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Daten löschen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="delete_entries">
        <div class="floating_content">
          <div class="floating_text">Willst du den aufgenommenen Arbeitsbericht wirklich löschen?</div>
        </div>
        <button class="button card_button red" type="submit">
          <img src="{% static 'imgs/delete_icon_round_red.png' %}" alt="Delete" draggable="false">
          <div><p>Löschen</p></div>
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block header_title %}Hallo {{ first_name }} {{ last_name }}{% endblock %}

{% block content %}
  <!-- DASHBOARD -->
  <!-- CHECK-IN REPORT -->
  <div class="card">
    <h1>Neuer Arbeitsbericht</h1>
    <div class="wrapped_content">
      {% if current_activity.status == 'none' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="start_report">
          <button class="button card_button green" type="submit">
            <img src="{% static 'imgs/start_icon_round_green.png' %}" alt="Start" draggable="false">
            <div><p>Starten</p></div>
          </button>
        </form>
        <a class="button card_button" href="{% url 'addreport' %}">
          <img src="{% static 'imgs/add_icon_round.png' %}" alt="Manual report" draggable="false">
          <div><p>Manueller Eintrag</p></div>
        </a>
      {% elif current_activity.status == 'active' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="pause_report">
          <button class="button card_button blue" type="submit">
            <img src="{% static 'imgs/pause_icon_round_blue.png' %}" alt="Pause" draggable="false">
            <div><p>Pause</p></div>
          </button>
        </form>
      {% elif current_activity.status == 'paused' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="resume_report">
          <button class="button card_button blue" type="submit">
            <img src="{% static 'imgs/start_icon_round_blue.png' %}" alt="Resume" draggable="false">
            <div><p>Fortfahren</p></div>
          </button>
        </form>
      {% endif %}
      {% if current_activity.status == 'active' or current_activity.status == 'paused' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="finish_report">
          <button class="button card_button red" type="submit">
            <img src="{% static 'imgs/finish_icon_round_red.png' %}" alt="Finish" draggable="false">
            <div><p>Beenden</p></div>
          </button>
        </form>
      {% endif %}
    </div>
    {% if current_activity.status == 'finished' %}
      <div>
        <h2>Arbeitsbericht beendet</h2>
        <p>Dein Arbeitsbericht wurde erfolgreich beendet. Du kannst nun die temporär gespeicherten Zeiten einsehen und bearbeiten sowie den Bericht abschließen.</p>
      </div>
    {% elif current_activity.status == 'paused' %}
      <p>Der aktuelle Arbeitsbericht wurde pausiert und alle bisherigen Zeiten temporär gespeichert.</p>
    {% endif %}
    {% if current_activity.status != 'none' %}
      <div class="space_top_1">
        <h2>Gespeicherte Zeiten des aktuellen Arbeitsberichts:</h2>
        <div class="border_item overflow">
          <table>
            <tr>
              <th>Tag</th>
              <th>Beginn</th>
              <th>Tag</th>
              <th>Ende</th>
              <th>Dauer</th>
              <th>Aktionen</th>
            </tr>
            {% for entry in current_activity.entries %}
              <tr class="hoverable_tr">
                <td>{{ entry.day }}</td>
                <td class="nowrap">{{ entry.start }}</td>
                <td>{{ entry.end_day }}</td>
                <td class="nowrap">{{ entry.end }}</td>
                <td>{{ entry.time }}</td>
                <td class="no_select">
                  <button class="table_button red tooltip_elem" onclick="deleteEntry('{{ forloop.counter0 }}')">
                    <img src="{% static 'imgs/delete_icon.png' %}" alt="Delete" draggable="false">
                    <div class="tooltip_text">Löschen</div>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <p>Bitte beachte: Alle aufgeführten Zeiten werden als einzelne Arbeitsberichte mit den jeweils gleichen Details (Modul und Notizen) abgespeichert!</p>
      </div>
      <div class="space_top_1">
        <h2>Details des aktuellen Arbeitsberichts festlegen:</h2>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="checkin_report">
          <input type="hidden" name="times" id="checkin_report_times" value="Placeholder">
          <div class="checkin_data">
            <div class="form_item">
              <div class="form_name">Modul</div>
              <div class="dropdown form_dropdown checkin_dropdown">
                <div class="dropdown_button">
                  <div>{{ placeholder_module.index }} {{ placeholder_module.name }}</div>
                  <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
                </div>
                <input class="dropdown_input" type="hidden" name="module" value="{{ placeholder_module.index }}">
                <div class="dropdown_content">
                  {% for modulegroup in modules %}
                    <div class="dropdown_item not_selectable">{{ modulegroup.index }} {{ modulegroup.name }}</div>
                    {% for module in modulegroup.modules %}
                      <div class="dropdown_item indent_1  not_selectable">{{ module.index }} {{ module.name }}</div>
                      {% for submodule in module.submodules %}
                        <div class="dropdown_item indent_2" onclick="formDropdownSelect(this, '{{ submodule.index }}')">{{ submodule.index }} {{ submodule.name }}</div>
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="form_item">
              <div class="form_name">Notizen</div>
              <textarea name="notes" rows="4" cols="50" placeholder="Eine kleine Beschreibung der Tätigkeit..." required></textarea>
            </div>
          </div>
          <div class="wrapped_content space_top_1">
            <button class="button card_button" type="submit">
              <img src="{% static 'imgs/save_icon_round.png' %}" alt="Save report" draggable="false">
              <div><p>Speichern</p></div>
            </button>
            <button class="button card_button" type="button" onclick="deleteEntries()">
              <img src="{% static 'imgs/delete_icon_round.png' %}" alt="Delete entries" draggable="false">
              <div><p>Daten löschen</p></div>
            </button>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
  <div class="card">
    <div class="quick_change_container">
      <h1>Letzte Aktivitäten</h1>
      <div class="quick_change_buttons">
        <a href="{% url 'reports' %}">Zu den Arbeitsberichten</a>
      </div>
    </div>
    {% if last_reports|length > 0 %}
      <div class="border_item overflow">
        <table>
          <tr>
            <th>Tag</th>
            <th>Beginn</th>
            <th>Ende</th>
            <th>Dauer</th>
            <th>Modul</th>
            <th>Notizen</th>
          </tr>
          {% for report in last_reports %}
            <tr class="hoverable_tr">
              <td>{{ report.day }}</td>
              <td class="nowrap">{{ report.start }}</td>
              <td class="nowrap">
                {% if report.end_day != '' %}
                  {{ report.end_day }}<br>
                {% endif %}
                {{ report.end }}
              </td>
              <td>{{ report.time }}</td>
              <td>{{ report.module_index }} {{ report.module_name }}</td>
              {% if report.long_notes != '' %}
                <td class="flex_td">
                  <div>{{ report.notes }}</div>
                  <button class="table_button tooltip_elem" onclick="toggleLongNote(this, '{{ report.notes }}', '{{ report.long_notes }}')">
                    <img src="{% static 'imgs/arrow_right_icon.png' %}" alt="Expand" draggable="false">
                    <div class="tooltip_text" >Ausklappen</div>
                  </button>
                </td>
              {% else %}
                <td class="left_td">
                  <div>{{ report.notes }}</div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% else %}
      <p>Du hast bisher keine aufgezeichneten Aktivitäten. Erstelle doch mal einen neuen Bericht.</p>
    {% endif %}
  </div>
  <div class="card">
    <div class="quick_change_container">
      <h1>Auswertung</h1>
      <div class="quick_change_buttons">
        <a href="{% url 'review' %}">Zu den Ergebnissen</a>
      </div>
    </div>
    {% if total_sessions > 0 %}
      <div class="charts_container">
        <div class="border_item chart_item">
          <h2>Verteilung nach Arbeitszeit</h2>
          <div class="total_review">Arbeitszeit gesamt: <span>{{ total_time }}</span></div>
          <canvas id="review_chart_time"></canvas>
        </div>
        <div class="border_item chart_item">
          <h2>Verteilung nach Sitzungen</h2>
          <div class="total_review">Sitzungen gesamt: <span>{{ total_sessions }}</span></div>
          <canvas id="review_chart_sessions"></canvas>
        </div>
      </div>
    {% else %}
      <p>Du hast bisher keine aufgezeichneten Aktivitäten. Eine Auswertung konnte deshalb nicht angefertigt werden.</p>
    {% endif %}
  </div>
  {% if role == 'admin' %}
    <div class="card">
      <div class="quick_change_container">
        <h1>Anfragen</h1>
        <div class="quick_change_buttons">
          <a href="{% url 'profile' %}">Zum Profil</a>
          <a href="{% url 'admin' %}">Zum Admin Dashboard</a>
        </div>
      </div>
      {% if requests|length > 0 %}
        <div class="border_item overflow">
          <table>
            <tr>
              <th>Datum</th>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Nutzername</th>
              <th>Aktuelle Rolle</th>
              <th>Anfrage auf</th>
            </tr>
            {% for request in requests %}
              <tr class="hoverable_tr">
                <td class="nowrap">{{ request.day }}<br>{{ request.time }}</td>
                <td class="nowrap">{{ request.first_name }}</td>
                <td class="nowrap">{{ request.last_name }}</td>
                <td>{{ request.username }}</td>
                {% if request.role == 'normal' %}
                  <td class="role_normal">Normal</td>
                {% elif request.role == 'vip' %}
                  <td class="role_vip">VIP</td>
                {% elif request.role == 'admin' %}
                  <td class="role_admin">Admin</td>
                {% endif %}
                {% if request.requested_role == 'normal' %}
                  <td class="role_normal">Normal</td>
                {% elif request.requested_role == 'vip' %}
                  <td class="role_vip">VIP</td>
                {% elif request.requested_role == 'admin' %}
                  <td class="role_admin">Admin</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
        <p>Aktuell gibt es keine offenen Anfragen. Warte darauf bis ein Nutzer eine Anfrage abschickt.</p>
      {% endif %}
    </div>
  {% endif %}
  {% if role != 'admin' %}
    <div class="card">
      <div class="quick_change_container">
        <h1>Bewerbungen</h1>
        <div class="quick_change_buttons">
          <a href="{% url 'profile' %}">Zum Profil</a>
        </div>
      </div>
      <h2>
        {% if requested_role == '' %}
          Aktuell keine ausstehende Bewerbung
        {% else %}
          Aktuell ausstehende Bewerbung auf die Rolle
          {% if requested_role == 'vip' %}
            <span class="role_vip">VIP</span>
          {% elif requested_role == 'admin' %}
            <span class="role_admin">Admin</span>
          {% endif %}
        {% endif %}
      </h2>
    </div>
  {% endif %}
{% endblock %}