{% extends "dvmplanner/base.html" %}
{% load static %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'scripts/dashboard.js' %}" defer></script>
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block floating_windows %}
  <!-- DELETE REPORT -->
  <div class="floating_container" id="floating_window_delete_entry">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Zeiteintrag löschen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="delete_entry">
        <input type="hidden" id="floating_window_delete_entry_index" name="index" value="Placeholder">
        <div class="floating_content">
          <div class="floating_text">Willst du den Zeiteintrag wirklich löschen?</div>
        </div>
        <button class="button card_button red" type="submit">
          <img src="{% static 'imgs/delete_icon_round_red.png' %}" alt="Delete" draggable="false">
          <div><p>Löschen</p></div>
        </button>
      </form>
    </div>
  </div>
  <!-- DELETE ENTRIES -->
  <div class="floating_container" id="floating_window_delete_entries">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Daten löschen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="delete_entries">
        <div class="floating_content">
          <div class="floating_text">Willst du den aufgenommenen Arbeitsbericht wirklich löschen?</div>
        </div>
        <button class="button card_button red" type="submit">
          <img src="{% static 'imgs/delete_icon_round_red.png' %}" alt="Delete" draggable="false">
          <div><p>Löschen</p></div>
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block header_title %}Hallo {{ first_name }} {{ last_name }}{% endblock %}

{% block content %}
  <!-- DASHBOARD -->
  <!-- CHECK-IN REPORT -->
  <div class="card">
    <h1>Neuer Arbeitsbericht</h1>
    <div class="wrapped_content">
      {% if current_activity.status == 'none' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="start_report">
          <button class="button card_button green" type="submit">
            <img src="{% static 'imgs/start_icon_round_green.png' %}" alt="Start" draggable="false">
            <div><p>Starten</p></div>
          </button>
        </form>
      {% elif current_activity.status == 'active' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="pause_report">
          <button class="button card_button blue" type="submit">
            <img src="{% static 'imgs/pause_icon_round_blue.png' %}" alt="Pause" draggable="false">
            <div><p>Pause</p></div>
          </button>
        </form>
      {% elif current_activity.status == 'paused' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="resume_report">
          <button class="button card_button blue" type="submit">
            <img src="{% static 'imgs/start_icon_round_blue.png' %}" alt="Resume" draggable="false">
            <div><p>Fortfahren</p></div>
          </button>
        </form>
      {% endif %}
      {% if current_activity.status == 'active' or current_activity.status == 'paused' %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="finish_report">
          <button class="button card_button red" type="submit">
            <img src="{% static 'imgs/finish_icon_round_red.png' %}" alt="Finish" draggable="false">
            <div><p>Beenden</p></div>
          </button>
        </form>
      {% endif %}
    </div>
    {% if current_activity.status == 'finished' %}
      <div>
        <h2>Arbeitsbericht beendet</h2>
        <p>Dein Arbeitsbericht wurde erfolgreich beendet. Du kannst nun die temporär gespeicherten Zeiten einsehen und bearbeiten sowie den Bericht abschließen.</p>
      </div>
    {% elif current_activity.status == 'paused' %}
      <p>Der aktuelle Arbeitsbericht wurde pausiert und alle bisherigen Zeiten temporär gespeichert.</p>
    {% endif %}
    {% if current_activity.status != 'none' %}
      <div class="space_top_1">
        <h2>Gespeicherte Zeiten des aktuellen Arbeitsberichts:</h2>
        <div class="border_item overflow">
          <table>
            <tr>
              <th>Tag</th>
              <th>Beginn</th>
              <th>Tag</th>
              <th>Ende</th>
              <th>Dauer</th>
              <th>Aktionen</th>
            </tr>
            {% for entry in current_activity.entries %}
              <tr class="hoverable_tr">
                <td>{{ entry.day }}</td>
                <td class="nowrap">{{ entry.start }}</td>
                <td>{{ entry.end_day }}</td>
                <td class="nowrap">{{ entry.end }}</td>
                <td>{{ entry.time }}</td>
                <td class="no_select">
                  <button class="table_button red tooltip_elem" onclick="deleteEntry('{{ forloop.counter0 }}')"><img src="{% static 'imgs/delete_icon.png' %}" alt="Delete" draggable="false"><div class="tooltip_text">Löschen</div></button>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <p>Bitte beachte: Alle aufgeführten Zeiten werden als einzelne Arbeitsberichte mit den jeweils gleichen Details (Modul und Notizen) abgespeichert!</p>
      </div>
      <div class="space_top_1">
        <h2>Details des aktuellen Arbeitsberichts festlegen:</h2>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="checkin_report">
          <input type="hidden" name="times" id="checkin_report_times" value="Placeholder">
          <div class="checkin_data">
            <div class="form_item">
              <div class="form_name">Modul</div>
              <div class="dropdown form_dropdown checkin_dropdown">
                <div class="dropdown_button">
                  <div>{{ placeholder_module.index }} {{ placeholder_module.name }}</div>
                  <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
                </div>
                <input class="dropdown_input" type="hidden" name="module" value="{{ placeholder_module.index }}">
                <div class="dropdown_content">
                  {% for modulegroup in modules %}
                    <div class="dropdown_item not_selectable">{{ modulegroup.index }} {{ modulegroup.name }}</div>
                    {% for module in modulegroup.modules %}
                      <div class="dropdown_item indent_1  not_selectable">{{ module.index }} {{ module.name }}</div>
                      {% for submodule in module.submodules %}
                        <div class="dropdown_item indent_2" onclick="formDropdownSelect(this, '{{ submodule.index }}')">{{ submodule.index }} {{ submodule.name }}</div>
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="form_item">
              <div class="form_name">Notizen</div>
              <textarea name="notes" rows="4" cols="50" placeholder="Eine kleine Beschreibung der Tätigkeit..." required></textarea>
            </div>
          </div>
          <div class="wrapped_content space_top_1">
            <button class="button card_button" type="submit">
              <img src="{% static 'imgs/save_icon_round.png' %}" alt="Save report" draggable="false">
              <div><p>Speichern</p></div>
            </button>
            <button class="button card_button" type="button" onclick="deleteEntries()">
              <img src="{% static 'imgs/delete_icon_round.png' %}" alt="Delete entries" draggable="false">
              <div><p>Daten löschen</p></div>
            </button>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}