<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <title>Dashboard - DVM Planner</title>
  <style>
    
  </style>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo_clock.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><div class="navbar_item highlighted"><a>Dashboard</a></div></li>
      <li><div class="navbar_item" onclick="window.location.href='/reports/'"><a>Arbeitsberichte</a></div></li>
      <li><div class="navbar_item" onclick="window.location.href='/review/'"><a>Ergebnisse</a></div></li>
      <li><div class="navbar_item" onclick="window.location.href='/admin/'"><a>Admin Dashboard</a></div></li>
      <li><div class="navbar_item" onclick="window.location.href='/profile/'"><a>Profil</a></div></li>
    </ul>
      <div class="button navbar_add_button" onclick="window.location.href='/addreport/'">
        <img src="{% static 'imgs/red_plus_icon.png' %}" alt="Add Report Icon" draggable="false">
        <a>Hinzufügen</a>
      </div>
    </div>
  </div>
  <div class="content">
    <p>{{ usernames }}</p>
  </div>
</body>
</html>