<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  <title>Dashboard - DVM Planner</title>
  <style>
    
  </style>
</head>
<body>
  <div class="navbar">
    <div class="">
      <img src="{% static 'imgs/logo.png' %}" alt="Icon DVM Planner">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a>Dashboard</a></li>
      <li><a>Arbeitsberichte</a></li>
      <li><a>Ergebnisse</a></li>
      <li><a>Admin Dashboard</a></li>
      <li><a>Profil</a></li>
    </ul>
  </div>
</body>
</html>