<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <script>
    const staticMenuIcon = "{% static 'imgs/menu_icon.png' %}";
    const staticCloseMenuIcon = "{% static 'imgs/close_menu_icon.png' %}";
  </script>
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Profil - DVM Planner</title>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar_hide_button" onclick="toggleNavbar()"><img id="navbar_hide_button_img" src="{% static 'imgs/menu_icon.png' %}" alt="Open Menu" draggable="false"></div>
  <div class="navbar" id="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo_clock.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a class="navbar_item" href="/dashboard/"><div>Dashboard</div></a></li>
      <li><a class="navbar_item" href="/reports/"><div>Arbeitsberichte</div></a></li>
      <li><a class="navbar_item" href="/review/"><div>Ergebnisse</div></a></li>
      <li><a class="navbar_item" href="/admin/"><div>Admin Dashboard</div></a></li>
      <li><a class="navbar_item highlighted"><div>Profil</div></a></li>
    </ul>
    <a class="button navbar_add_button" href="/addreport/">
      <img src="{% static 'imgs/red_plus_icon.png' %}" alt="Add Report" draggable="false">
      <div>Hinzufügen</div>
    </a>
  </div>    
  <!-- CONTENT -->
  <div class="content" id="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, voluptatibus. Alias voluptate accusamus eos officia, corrupti quis inventore ea nam dolor unde nihil aut, at ratione fugiat. Dolore, saepe? Quam quidem numquam velit facere repellendus ab temporibus dicta, delectus deleniti consequuntur nisi iste blanditiis magnam unde molestiae sint ad placeat facilis, neque, quae alias ipsam. Labore eum a ipsum. Autem illum, provident laborum et error laboriosam voluptatibus repellendus numquam. Qui, dicta? Tempora at magnam laboriosam quidem unde, fugit esse maiores earum. Obcaecati similique nihil saepe alias eligendi, veniam expedita quidem! Commodi porro et non corporis animi sunt tenetur deleniti recusandae.
  </div>
</body>
</html>