<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/reports.css' %}">
  <script>
    const staticMenuIcon = "{% static 'imgs/menu_icon.png' %}";
    const staticCloseIcon = "{% static 'imgs/close_icon.png' %}";
    const staticArrowRightIcon = "{% static 'imgs/arrow_right_icon.png' %}";
    const staticArrowLeftIcon = "{% static 'imgs/arrow_left_icon.png' %}";
  </script>
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Arbeitsberichte - DVM Planner</title>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar_hide_button" onclick="toggleNavbar()"><img id="navbar_hide_button_img" src="{% static 'imgs/menu_icon.png' %}" alt="Open Menu" draggable="false"></div>
  <div class="navbar" id="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a class="navbar_item" href="/dashboard/"><div>Dashboard</div></a></li>
      <li><a class="navbar_item highlighted"><div>Arbeitsberichte</div></a></li>
      <li><a class="navbar_item" href="/review/"><div>Ergebnisse</div></a></li>
      {% if role == 'admin' %}
        <li><a class="navbar_item" href="/admin/"><div>Admin Dashboard</div></a></li>
      {% endif %}
      <li><a class="navbar_item" href="/profile/"><div>Profil</div></a></li>
    </ul>
    <a class="button navbar_add_button" href="/addreport/">
      <img src="{% static 'imgs/add_icon_red.png' %}" alt="Add Report" draggable="false">
      <div><p>Hinzufügen</p></div>
    </a>
  </div>    
  <!-- CONTENT -->
  <div class="content" id="content">
    <div class="topbar">
      <div class="topbar_text">Arbeitsberichte</div>
      <div class="button profile_button" onclick="toggleUserMenu()">
        <img src="{% static 'profiles/' %}{{uid}}.png" alt="Profile Picture of {{uid}}" draggable="false">
        <div><p>{{ username }}</p></div>
      </div>
    </div>
    <div class="usermenu hidden_usermenu" id="usermenu">
      <a class="button usermenu_button" href="">
        <img src="{% static 'imgs/change_user_icon.png' %}" alt="Change User" draggable="false">
        <div><p>Profil wechseln</p></div>
      </a>
      <a class="button usermenu_button" href="">
        <img src="{% static 'imgs/logout_icon.png' %}" alt="Logout" draggable="false">
        <div><p>Ausloggen</p></div>
      </a>
    </div>
    <!-- REPORTS -->
    <div class="card">
      <h1>Alle Arbeitsberichte von {{ first_name }} {{ last_name }}</h1>
      <div class="table_filter">
        <div class="table_filter_text">Modul:</div>
        <div class="dropdown table_filter_dropdown reports_table">
          <button class="dropdown_button">
            <div>{{ current_module }}</div>
            <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
          </button>
          <div class="dropdown_content">
            <a class="dropdown_item" href="">[Alle]</a>
            {% for modulegroup in modules %}
              <a class="dropdown_item">{{ modulegroup.index }} {{ modulegroup.name }}</a>
              {% for module in modulegroup.modules %}
                <a class="dropdown_item indent_1">{{ module.index }} {{ module.name }}</a>
                {% for submodule in module.submodules %}
                  <a class="dropdown_item indent_2">{{ submodule.index }} {{ submodule.name }}</a>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="border_item">
        <table>
          <tr>
            <th>Tag</th>
            <th>Start</th>
            <th>Ende</th>
            <th>Dauer</th>
            <th>Modul</th>
            <th>Notizen</th>
            <th>Aktionen</th>
          </tr>
          {% for report in reports %}
            <tr>
              <td>{{ report.day }}</td>
              <td class="nowrap">{{ report.start }}</td>
              <td class="nowrap">
                {% if report.end_day != '' %}
                  {{ report.end_day }}<br>
                {% endif %}
                {{ report.end }}
              </td>
              <td>{{ report.time }}</td>
              <td>{{ report.module }}</td>
              {% if report.long_notes != '' %}
                <td class="flex_td">
                  <div>{{ report.notes }}</div>
                  <button class="table_button tooltip_elem" onclick="toggleLongNote(this, '{{ report.notes }}', '{{ report.long_notes }}')"><img src="{% static 'imgs/arrow_right_icon.png' %}" alt="Expand" draggable="false"><div class="tooltip_text" >Ausklappen</div></button>
                </td>
              {% else %}
                <td class="left_td">
                  <div>{{ report.notes }}</div>
                </td>
              {% endif %}
              <td class="no_select">
                <button class="table_button tooltip_elem"><img src="{% static 'imgs/edit_icon.png' %}" alt="Edit" draggable="false"><div class="tooltip_text" >Bearbeiten</div></button>
                <button class="table_button red tooltip_elem"><img src="{% static 'imgs/delete_icon.png' %}" alt="Delete" draggable="false"><div class="tooltip_text" >Löschen</div></button>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- VIP-TOOLS -->
    {% if role == 'vip' or role == 'admin' %}
      <div class="card">
        <h1>VIP Werkzeuge</h1>
        <h2>Daten herunterladen</h2>
        <div class="wrapped_content">
          <a class="button card_button" href="">
            <img src="{% static 'imgs/download_file_icon.png' %}" alt="JSON Download" draggable="false">
            <div><p>JSON Download</p></div>
          </a>
          <a class="button card_button" href="">
            <img src="{% static 'imgs/download_file_icon.png' %}" alt="CSV Download" draggable="false">
            <div><p>CSV Download</p></div>
          </a>
          <a class="button card_button" href="">
            <img src="{% static 'imgs/download_file_icon.png' %}" alt="XML Download" draggable="false">
            <div><p>XML Download</p></div>
          </a>
        </div>
        <br><br>
        <h2>Daten hochladen</h2>
        <a class="button card_button" href="">
          <img src="{% static 'imgs/upload_file_icon.png' %}" alt="Daten Upload" draggable="false">
          <div><p>Daten Upload</p></div>
        </a>
      </div>
    {% endif %}
  </div>
</body>
</html>