{% extends "dvmplanner/base.html" %}
{% load static %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{% static 'styles/reports.css' %}">
{% endblock %}

{% block extra_scripts %}
  <script>
    const staticArrowRightIcon = "{% static 'imgs/arrow_right_icon.png' %}";
    const staticArrowLeftIcon = "{% static 'imgs/arrow_left_icon.png' %}";
  </script>
  <script src="{% static 'scripts/reports.js' %}" defer></script>
{% endblock %}

{% block page_title %}Arbeitsberichte{% endblock %}

{% block floating_windows %}
  <!-- EDIT REPORT -->
  <div class="floating_container" id="floating_window_edit_report">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Arbeitsbericht bearbeiten</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="edit_report">
        <input type="hidden" id="floating_window_edit_report_id" name="id" value="Placeholder">
        <div class="floating_content">
          <div class="floating_content_split">
            <div class="form_item">
              <div class="form_name">Beginn</div>
              <input type="datetime-local" id="floating_window_edit_report_beginn" name="time_beginn" required>
            </div>
            <div class="form_item">
              <div class="form_name">Ende</div>
              <input type="datetime-local" id="floating_window_edit_report_end" name="time_end" required>
            </div>
          </div>
          <div class="form_item">
            <div class="form_name">Modul</div>
            <div class="dropdown form_dropdown edit_report_dropdown">
              <div class="dropdown_button">
                <div id="floating_window_edit_report_module">Placeholder</div>
                <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
              </div>
              <input class="dropdown_input" type="hidden" id="floating_window_edit_report_module_hidden" name="module" value="Placeholder">
              <div class="dropdown_content">
                {% for modulegroup in modules %}
                  <div class="dropdown_item not_selectable">{{ modulegroup.index }} {{ modulegroup.name }}</div>
                  {% for module in modulegroup.modules %}
                    <div class="dropdown_item indent_1  not_selectable">{{ module.index }} {{ module.name }}</div>
                    {% for submodule in module.submodules %}
                      <div class="dropdown_item indent_2" onclick="formDropdownSelect(this, '{{ submodule.index }}')">{{ submodule.index }} {{ submodule.name }}</div>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form_item">
            <div class="form_name">Notizen</div>
            <textarea id="floating_window_edit_report_notes" name="notes" rows="4" cols="50" required>Placeholder</textarea>
          </div>
        </div>
        <button class="button card_button" type="submit">
          <img src="{% static 'imgs/save_icon_round.png' %}" alt="Save changes" draggable="false">
          <div><p>Speichern</p></div>
        </button>
      </form>
    </div>
  </div>
  <!-- DELETE REPORT -->
  <div class="floating_container" id="floating_window_delete_report">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Arbeitsbericht löschen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="delete_report">
        <input type="hidden" id="floating_window_delete_report_id" name="id" value="Placeholder">
        <div class="floating_content">
          <div class="floating_text">Willst du den Arbeitsbericht wirklich löschen?</div>
        </div>
        <button class="button card_button red" type="submit">
          <img src="{% static 'imgs/delete_icon_round_red.png' %}" alt="Delete" draggable="false">
          <div><p>Löschen</p></div>
        </button>
      </form>
    </div>
  </div>
  <!-- UPLOAD DATA -->
  <div class="floating_container" id="floating_window_upload_data">
    <div class="floating_window">
      <div class="floating_header">
        <h1>Daten hochladen</h1>
        <div class="floating_close_button" onclick="closeFloatingWindows()">
          <img src="{% static 'imgs/close_icon.png' %}" alt="Close window" draggable="false">
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="context" value="upload_data">
        <div class="floating_content">
          <input type="file" name="file" accept="application/json, text/csv, application/xml, .json, .csv, .xml" required>
          <div class="form_hint no_top_margin">Erlaubte Dateitypen: .json, .csv, .xml</div>
        </div>
        <button class="button card_button" type="submit">
          <img src="{% static 'imgs/upload_file_icon_round.png' %}" alt="Upload" draggable="false">
          <div><p>Hochladen</p></div>
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block header_title %}Arbeitsberichte{% endblock %}

{% block content %}
  <!-- REPORTS -->
  <div class="card">
    <h1>Alle Arbeitsberichte von {{ first_name }} {{ last_name }}</h1>
    <div class="table_filter">
      <div class="table_filter_text">Modul:</div>
      <div class="dropdown table_filter_dropdown reports_table_module">
        <div class="dropdown_button">
          <div>{{ current_module }}</div>
          <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
        </div>
        <div class="dropdown_content">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_module">
            <input type="hidden" name="index" value="all">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">[Alle]</button>
            </div>
          </form>
          {% for modulegroup in modules %}
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="context" value="reports_dropdown_select_module">
              <input type="hidden" name="index" value="{{ modulegroup.index }}">
              <div class="dropdown_item_container">
                <button class="dropdown_item" type="submit">{{ modulegroup.index }} {{ modulegroup.name }}</button>
              </div>
            </form>
            {% for module in modulegroup.modules %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="context" value="reports_dropdown_select_module">
                <input type="hidden" name="index" value="{{ modulegroup.index }}">
                <div class="dropdown_item_container">
                  <button class="dropdown_item indent_1" type="submit">{{ module.index }} {{ module.name }}</button>
                </div>
              </form>
              {% for submodule in module.submodules %}
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="context" value="reports_dropdown_select_module">
                  <input type="hidden" name="index" value="{{ modulegroup.index }}">
                  <div class="dropdown_item_container">
                    <button class="dropdown_item indent_2" type="submit">{{ submodule.index }} {{ submodule.name }}</button>
                  </div>
                </form>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="table_filter_text spacing_left">Semester:</div>
      <div class="dropdown table_filter_dropdown reports_table_semester">
        <div class="dropdown_button">
          <div>{{ current_semester }}</div>
          <img src="{% static 'imgs/expand_dropdown.png' %}" alt="" draggable="false">
        </div>
        <div class="dropdown_content">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="1">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">1. Semester</button>
            </div>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="2">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">2. Semester</button>
            </div>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="3">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">3. Semester</button>
            </div>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="4">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">4. Semester</button>
            </div>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="5">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">5. Semester</button>
            </div>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="context" value="reports_dropdown_select_semester">
            <input type="hidden" name="semester" value="6">
            <div class="dropdown_item_container">
              <button class="dropdown_item" type="submit">6. Semester</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="border_item overflow">
      <table>
        <tr>
          <th>Tag</th>
          <th>Beginn</th>
          <th>Ende</th>
          <th>Dauer</th>
          <th>Modul</th>
          <th>Notizen</th>
          <th>Aktionen</th>
        </tr>
        {% for report in reports %}
          <tr class="hoverable_tr">
            <td>{{ report.day }}</td>
            <td class="nowrap">{{ report.start }}</td>
            <td class="nowrap">
              {% if report.end_day != '' %}
                {{ report.end_day }}<br>
              {% endif %}
              {{ report.end }}
            </td>
            <td>{{ report.time }}</td>
            <td>{{ report.module_index }} {{ report.module_name }}</td>
            {% if report.long_notes != '' %}
              <td class="flex_td">
                <div>{{ report.notes }}</div>
                <button class="table_button tooltip_elem" onclick="toggleLongNote(this, '{{ report.notes }}', '{{ report.long_notes }}')"><img src="{% static 'imgs/arrow_right_icon.png' %}" alt="Expand" draggable="false"><div class="tooltip_text" >Ausklappen</div></button>
              </td>
            {% else %}
              <td class="left_td">
                <div>{{ report.notes }}</div>
              </td>
            {% endif %}
            <td class="no_select">
              <button class="table_button tooltip_elem" onclick="editReport('{{ report.id }}', '{{ report.day }}', '{{ report.start }}', '{{ report.end_day }}', '{{ report.end }}', '{{ report.module_index }}', '{{ report.module_name }}', '{{ report.notes }}', '{{ report.long_notes }}')"><img src="{% static 'imgs/edit_icon.png' %}" alt="Edit" draggable="false"><div class="tooltip_text" >Bearbeiten</div></button>
              <button class="table_button red tooltip_elem" onclick="deleteReport('{{ report.id }}')"><img src="{% static 'imgs/delete_icon.png' %}" alt="Delete" draggable="false"><div class="tooltip_text" >Löschen</div></button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <!-- VIP-TOOLS -->
  {% if role == 'vip' or role == 'admin' %}
    <div class="card">
      <h1>VIP Werkzeuge</h1>
      <h2>Daten herunterladen</h2>
      <div class="wrapped_content">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="download_reports">
          <input type="hidden" name="type" value="json">
          <button class="button card_button" type="submit">
            <img src="{% static 'imgs/download_file_icon_round.png' %}" alt="Download JSON" draggable="false">
            <div><p>JSON Download</p></div>
          </button>
        </form>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="download_reports">
          <input type="hidden" name="type" value="csv">
          <button class="button card_button" type="submit">
            <img src="{% static 'imgs/download_file_icon_round.png' %}" alt="Download CSV" draggable="false">
            <div><p>CSV Download</p></div>
          </button>
        </form>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="context" value="download_reports">
          <input type="hidden" name="type" value="xml">
          <button class="button card_button" type="submit">
            <img src="{% static 'imgs/download_file_icon_round.png' %}" alt="Download XML" draggable="false">
            <div><p>XML Download</p></div>
          </button>
        </form>
      </div>
      <div class="space_top_1">
        <h2>Daten hochladen</h2>
        <button class="button card_button" onclick="uploadData()">
          <img src="{% static 'imgs/upload_file_icon_round.png' %}" alt="Upload data" draggable="false">
          <div><p>Daten Upload</p></div>
        </button>
      </div>
    </div>
  {% endif %}
{% endblock %}