{% extends "dvmplanner/base.html" %}
{% load static %}

{% block extra_stylesheets %}
  <!-- STYLESHEET -->
{% endblock %}

{% block extra_scripts %}
  <!-- SCRIPT -->
{% endblock %}

{% block page_title %}Ergebnisse{% endblock %}

{% block floating_windows %}
  <!-- FLOATING WINDOWS -->
{% endblock %}

{% block header_title %}Ergebnisse{% endblock %}

{% block content %}
  <!-- REVIEW -->
  <div class="card">
    <h1>Ergebnisse von {{ first_name }} {{ last_name }}</h1>
    <!-- Tabellen, Diagramme & Filter zur Darstellung der Ergebnisse -->
  </div>
  <!-- DOWNLOAD & PRINT -->
  <div class="card">
    <h1>Ergebnisbericht</h1>
    <div class="wrapped_content">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="download_review">
        <button class="button card_button" type="submit">
          <img src="{% static 'imgs/download_file_icon_round.png' %}" alt="Download" draggable="false">
          <div><p>PDF Download</p></div>
        </button>
      </form>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="context" value="print_review">
        <button class="button card_button" type="submit">
          <img src="{% static 'imgs/print_icon_round.png' %}" alt="Print" draggable="false">
          <div><p>Drucken</p></div>
        </button>
      </form>
    </div>
  </div>
{% endblock %}