<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Ergebnisse - DVM Planner</title>
  <style>
    
  </style>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar_hide_button" onclick="toggleNavbar()"><img src="{% static 'imgs/menu_icon.png' %}" alt="Open Menu" draggable="false"></div>
  <div class="navbar" id="navbar">
    <div class="navbar_header">
      <img src="{% static 'imgs/logo_clock.png' %}" alt="DVM Planner Logo" draggable="false">
      <p>DVM Planner</p>
    </div>
    <ul>
      <li><a class="navbar_item" href="/dashboard/"><div>Dashboard</div></a></li>
      <li><a class="navbar_item" href="/reports/"><div>Arbeitsberichte</div></a></li>
      <li><a class="navbar_item highlighted"><div>Ergebnisse</div></a></li>
      <li><a class="navbar_item" href="/admin/"><div>Admin Dashboard</div></a></li>
      <li><a class="navbar_item" href="/profile/"><div>Profil</div></a></li>
    </ul>
    <a class="button navbar_add_button" href="/addreport/">
      <img src="{% static 'imgs/red_plus_icon.png' %}" alt="Add Report" draggable="false">
      <div>Hinzufügen</div>
    </a>
  </div>    
  </div>
</body>
</html>