<!DOCTYPE html>
<html lang="de">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'imgs/logo_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>Registrieren - DVM Planner</title>
</head>
<body>
  <h1>Signin</h1>
  <!-- CONTENT -->
</body>
</html>