.report_data {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.report_content_split {
  display: flex;
  gap: 30px; 
}

.addreport_dropdown {
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
}