/* --- GENERAL --- */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  --bg: #fff;
  --fg1: #f2f2f2;
  --fg2: #c5c5c5;
  --fg3: #adadad;
  --fg4: #555555;
  --ac1: #ff0000;
  --ac-green: #00a914;
  --bg-font: #000;
  --fg1-font: #000;
  --fg2-font: #000;
  --fg3-font: #000;
  --fg4-font: #fff;
  --ac1-font: #fff;
  --ac-green-font: #fff;
  --font-ac1: #ff0000;
  --font-ac-green: #00a914;
  --font-user-normal: #797979;
  --font-user-vip: #c2ab25;
  --font-user-admin: #700775;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--fg2);
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: var(--fg1);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg3);
}

.button {
  all: unset;
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  text-decoration: none;
  font-weight: bold;
}

.button img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.button div {
  display: flex;
  width: 100%;
  margin-right: 25px;
}

.button.small_text p {
  font-size: 24px;
  margin: auto;
}

.button p {
  font-size: 30px;
  margin: auto;
}

.button:hover {
  transform: scale(1.05);
}

/* --- TEXT DECORATIONS --- */

.role_normal {
  color: var(--font-user-normal);
  font-weight: bold;
}

.role_vip {
  color: var(--font-user-vip);
  font-weight: bold;
}

.role_admin {
  color: var(--font-user-admin);
  font-weight: bold;
}

.status_active {
  color: var(--font-ac-green);
  font-weight: bold;
}

.status_blocked {
  color: var(--font-ac1);
  font-weight: bold;
}

.status_deleted {
  text-decoration: line-through;
}

/* --- TOOLTIPS --- */

.tooltip_elem .tooltip_text {
  visibility: hidden;
  background-color: var(--fg4);
  color: var(--fg4-font);
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip_elem:hover .tooltip_text {
  visibility: visible;
}

.tooltip_elem .tooltip_text:hover {
  visibility: hidden;
}

/* --- NAVBAR --- */

.navbar {
  background-color: var(--fg1);
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  overflow: auto;
}

.navbar ul {
  padding: 0;
  margin-left: 30px;
  margin-top: 20px;
  color: var(--fg1-font);
}

.navbar li {
  list-style-type: none;
}

.navbar_item {
  margin-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  height: 70px;
  display: flex;
  align-items: center;
  transition: all .2s;
  width: 340px;
  color: var(--bg-font);
  text-decoration: none;
}

.navbar_item div {
  position: relative;
  display: inline-block;
}

.navbar_item.highlighted {
  cursor: default;
}

.navbar_item.highlighted div {
  font-weight: bold;
}

.navbar_item.highlighted div::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -12px;
  height: 5px;
  background-color: var(--ac1);
  border-radius: 10px;
  z-index: -1;
}

.navbar_item:hover {
  transform: scale(1.05);
}

.navbar_item.highlighted:hover {
  transform: scale(1);
}

.navbar_item:hover div {
  font-weight: bold;
}

.navbar_item:hover div::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -12px;
  height: 5px;
  background-color: var(--ac1);
  border-radius: 10px;
  z-index: -1;
}

.navbar_header {
  background-color: var(--ac1);
  padding: 20px;
  display: flex;
  align-items: center;
  user-select: none;
}

.navbar_header p {
  color: var(--ac1-font);
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.navbar_header img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.navbar_add_button {
  background-color: var(--bg);
  border-color: var(--ac1);
  margin: auto;
  width: 340px;
  margin-bottom: 20px;
}

.navbar_add_button div {
  color: var(--font-ac1);
}

.navbar_hide_button {
  margin: 10px;
  padding: 10px;
  height: 35px;
  background-color: var(--ac1);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  z-index: 20;
  position: fixed;
  right: 0;
}

.navbar_hide_button:hover {
  transform: scale(1.1);
}

.navbar_hide_button img {
  width: 35px;
  height: 35px;
}

@media (min-width: 1000px) {
  .navbar_hide_button {
    display: none;
  }
}

@media (max-width: 999px) {
  .navbar {
    width: 100%;
    display: none;
  }

  .shown_navbar {
    display: block;
  }
}

/* --- CONTENT --- */

.content {
  padding: 0 20px;
}

.topbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.topbar_text {
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
  user-select: none;
}

.profile_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  width: 340px;
  z-index: 15;
}

.profile_button div {
  color: var(--bg-font);
}

.profile_button img {
  border-radius: 100%;
}

.usermenu {
  position: absolute;
  right: 0;
  margin-right: 20px;
  background-color: var(--fg2);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 15;
}

.usermenu_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  width: 340px;
}

.usermenu_button div {
  color: var(--bg-font);
}

.hidden_usermenu {
  display: none;
}

@media (min-width: 1000px) {
  .content {
    margin-left: 400px;
  }
}

@media (max-width: 999px) {
  .hidden_content {
    display: none;
  }

  .profile_button {
    margin-right: 60px;
  }
}

/* --- CARDS --- */

.card {
  margin-bottom: 30px;
  background-color: var(--fg1);
  padding: 20px;
  border-radius: 15px;
  overflow: visible;
}

.card h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.card h2 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.card .wrapped_content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card .border_item {
  border-style: solid;
  border-width: 5px;
  border-color: var(--bg-font);
  border-radius: 15px;
  max-height: 500px;
}

.border_item.overflow {
  overflow: auto;
}

.card_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  flex: 1;
  min-width: 340px;
  max-width: 340px;
}

.card_button div {
  color: var(--bg-font);
}

.card_button.red {
  border-color: var(--ac1);
}

.card_button.red div {
  color: var(--ac1);
}

.card .no_select {
  user-select: none;
} 

/* --- TABLES --- */

.card table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.card th, .card td {
  padding: 8px;
  text-align: center;
}

.card th {
  background-color: var(--fg2);
}

.card td {
  background-color: var(--bg);
  transition: all .2s;
}

.card tr.hoverable_tr:hover td {
  background-color: var(--fg1);
}

.card .nowrap {
  white-space: nowrap;
}

.card .flex_td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card .left_td {
  text-align: left;
}

.table_button {
  background-color: var(--bg-font);
  transition: all .2s;
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}

.table_button img {
  width: 15px;
  height: 15px;
}

.table_button.red {
  background-color: var(--ac1);
}

.table_button.green {
  background-color: var(--ac-green);
}

.table_button:hover {
  transform: scale(1.2);
}

/* --- DROPDOWNS --- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--bg-font);
  background-color: var(--bg);
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  padding: 10px;
  display: flex;
}

.dropdown_button div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 10px;
  text-align: left;
}

.dropdown_button img {
  width: 20px;
  height: 20px;
  float: right;
}

.dropdown_button:hover {
  transform: scale(1.05);
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--bg);
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--bg-font);
  margin-top: 5px;
  z-index: 10;
  width: 100%;
  overflow: auto;
  max-height: 500px;
}

.dropdown.dropdown_expanded .dropdown_content {
  display: block;
}

.dropdown_content .dropdown_item {
  padding: 10px;
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
  color: var(--bg-font);
  display: block;
}

.dropdown_content .dropdown_item.indent_1 {
  margin-left: 20px;
}

.dropdown_content .dropdown_item.indent_2 {
  margin-left: 40px;
}

.dropdown_content .dropdown_item:hover {
  background-color: var(--fg2);
}

/* --- TABLE FILTERS --- */

.table_filter {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.table_filter_text {
  padding-right: 15px;
  font-size: 20px;
  text-align: center;
}

.table_filter_text.spacing_left {
  margin-left: 30px;
}

.table_filter_dropdown {
  flex-grow: 1;
}