/* --- GENERAL --- */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  --bg: #fff;
  --fg1: #f2f2f2;
  --fg2: #c5c5c5;
  --fg3: #adadad;
  --ac1: #ff0000;
  --bg-font: #000;
  --fg1-font: #000;
  --ac1-font: #fff;
  --font-ac1: #ff0000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--fg2);
}

::-webkit-scrollbar-track {
  background: var(--fg1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg3);
}

.button {
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  text-decoration: none;
  font-weight: bold;
}

.button img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.button div {
  display: flex;
  width: 100%;
  margin-right: 25px;
}

.button p {
  font-size: 30px;
  margin: auto;
}

.button:hover {
  transform: scale(1.05);
}

/* --- NAVBAR --- */

.navbar {
  background-color: var(--fg1);
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  overflow: auto;
}

.navbar ul {
  padding: 0;
  margin-left: 30px;
  margin-top: 20px;
  color: var(--fg1-font);
}

.navbar li {
  list-style-type: none;
}

.navbar_item {
  margin-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  height: 70px;
  display: flex;
  align-items: center;
  transition: all .2s;
  width: 340px;
  color: var(--bg-font);
  text-decoration: none;
}

.navbar_item div {
  position: relative;
  display: inline-block;
}

.navbar_item.highlighted {
  cursor: default;
}

.navbar_item.highlighted div {
  font-weight: bold;
}

.navbar_item.highlighted div::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -12px;
  height: 5px;
  background-color: var(--ac1);
  border-radius: 10px;
  z-index: -1;
}

.navbar_item:hover {
  transform: scale(1.05);
}

.navbar_item.highlighted:hover {
  transform: scale(1);
}

.navbar_item:hover div {
  font-weight: bold;
}

.navbar_item:hover div::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -12px;
  height: 5px;
  background-color: var(--ac1);
  border-radius: 10px;
  z-index: -1;
}

.navbar_header {
  background-color: var(--ac1);
  padding: 20px;
  display: flex;
  align-items: center;
  user-select: none;
}

.navbar_header p {
  color: var(--ac1-font);
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.navbar_header img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.navbar_add_button {
  background-color: var(--bg);
  border-color: var(--ac1);
  margin: auto;
  width: 340px;
  margin-bottom: 20px;
}

.navbar_add_button div {
  color: var(--font-ac1);
}

.navbar_hide_button {
  margin: 10px;
  padding: 10px;
  height: 35px;
  background-color: var(--ac1);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  z-index: 20;
  position: fixed;
  right: 0;
}

.navbar_hide_button:hover {
  transform: scale(1.1);
}

.navbar_hide_button img {
  width: 35px;
  height: 35px;
}

@media (min-width: 1000px) {
  .navbar_hide_button {
    display: none;
  }
}

@media (max-width: 999px) {
  .navbar {
    width: 100%;
    display: none;
  }

  .shown_navbar {
    display: block;
  }
}

/* --- CONTENT --- */

.content {
  padding: 0 20px;
}

.topbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.topbar_text {
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}

.profile_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  width: 340px;
}

.profile_button div {
  color: var(--bg-font);
}

.profile_button img {
  border-radius: 100%;
}

.usermenu {
  position: absolute;
  right: 0;
  margin-right: 20px;
  background-color: var(--fg1);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.usermenu_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  width: 340px;
}

.usermenu_button div {
  color: var(--bg-font);
}

.hidden_usermenu {
  display: none;
}

@media (min-width: 1000px) {
  .content {
    margin-left: 400px;
  }
}

@media (max-width: 999px) {
  .hidden_content {
    display: none;
  }

  .profile_button {
    margin-right: 60px;
  }
}

/* --- CARDS --- */

.card {
  margin-bottom: 30px;
  background-color: var(--fg1);
  padding: 20px;
  border-radius: 15px;
  overflow: auto;
}

.card h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.card .wrapped_content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card .border_item {
  border-style: solid;
  border-width: 5px;
  border-color: var(--bg-font);
  border-radius: 15px;
  overflow: auto;
}

.card_button {
  background-color: var(--bg);
  border-color: var(--bg-font);
  flex: 1;
  min-width: 340px;
  max-width: 340px;
}

.card_button div {
  color: var(--bg-font);
}

.card table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}

.card th, .card td {
  padding: 8px;
  text-align: center;
}

.card th {
  background-color: var(--fg2);
}

.card td {
  background-color: var(--bg);
}

.card .nowrap {
  white-space: nowrap;
}

.card .flex_td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.table_button {
  background-color: var(--bg-font);
  transition: all .2s;
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}

.table_button img {
  width: 15px;
  height: 15px;
}

.table_button.red {
  background-color: var(--ac1);
}

.table_button:hover {
  transform: scale(1.2);
}